.rec {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 37px;
}
@media (width >= 768px) {
  .rec {
    top: 20px;
    right: 49px;
  }
}

.rec::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 10px;
  height: 10px; /* Задайте высоту */
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  left: 32px;
  top: 7px;
}

.decorated-zone::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}
@media (width >=768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}
.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}
@media (width >=768px) {
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu {
  justify-self: self-end;
  align-self: center;
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }
}

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  gap: 30px;
}
@media (width >= 768px) {
  .page {
    gap: 60px;
  }
}

.header {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-rows: 1fr auto 1fr;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    margin-bottom: 0;
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    justify-items: normal;
  }
}

.header__title {
  justify-self: start;
  align-self: center;
  line-height: 83%;
  font-weight: 700;
  color: var(--header-logo-color);
  text-shadow: 4px 4px var(--accent-color); /* тень для текста */
}

@media (max-width: 767px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.text-block__header {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 700;
  font-size: 18px;
  grid-column: 1/ -1;
  line-height: 23.4px;
}

@media (min-width: 768px) {
  .text-block__header {
    width: 50%;
    justify-self: end;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .text-block__header {
    margin-bottom: 0;
  }
}

.header__theme-menu-list {
  font-size: 18px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}

.header__theme-menu-button {
  padding-left: 13px;
  padding-right: 13px;
  line-height: 100%;
  background-color: transparent; /* Прозрачное фоновое заполнение */
  border: 1px solid transparent; /* стабилизируем размер кнопок */
  color: var(--nav-color);
  cursor: pointer;
  padding-block: 3px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-heading-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--nav-color);
  outline-offset: 2px;
}

.text {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.text:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text:focus {
  outline: 1px solid var(--main-text-color);
  outline-offset: 2px;
}

.content-section {
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

@media (min-width: 768px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .text-blocks {
    grid-column: span 2;
  }
}

.text-blocks {
  display: grid;
  column-gap: 20px;
  justify-items: center;
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  color: var(--main-heading-color);
  font-weight: 400;
}

.content-section__title {
  color: var(--nav-color);
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 23.4px;
}

.text-block__title {
  background-color: var(--accent-color);
  font-size: 18px;
}

.text-block__content {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--main-text-color);
}
.text-block__subtitle {
  background-color: var(--accent-color);
  font-weight: 400;
}

.title {
  margin-bottom: 20px;
}

.content {
  display: grid;
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .content {
    gap: 60px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.causes .content-section__title {
  grid-column: 1/ -1;
  max-width: 355px;
}

@media (min-width: 768px) {
  .causes .content-section__title {
    max-width: 236px;
  }
}

@media (min-width: 1024px) {
  .causes .content-section__title {
    max-width: 315px;
  }
}

.causes .text-blocks {
  grid-column: 1/ -1;
}

@media (min-width: 1024px) {
  .causes .text-blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.gallery {
  display: grid;
  gap: 10px;
}
@media (min-width: 768px) {
  .gallery {
    gap: 17px;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Ширина экрана, при которой меняется отображение */
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 5;
  }

  .gallery__item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 4;
  }
}

.footer {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--header-logo-color);
  text-shadow: 2px 2px var(--accent-color);
}

.footer__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 768px) {
  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .footer {
    min-height: 768px;
  }
}
